<table class="table" *ngIf="selectedCountry">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Capital</th>
        <th scope="col">Population</th>
        <th scope="col">Currencies</th>
        <th scope="col">Flag</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ selectedCountry.name }}</td>
        <td>{{ selectedCountry.capital }}</td>
        <td>{{ selectedCountry.population }}</td>
        <td>
          <div *ngFor="let currency of selectedCountry.currencies">{{ currency.symbol }}</div>
        </td>
        <td><img [src]="selectedCountry.flag"></td>
      </tr>
    </tbody>
  </table>
